.credit-card input {
    border: 1px solid #393939;
    border-radius: 5px;
    outline: 0;
    padding-left: 8px;
}

.credit-card input:hover {
    border: 1px solid #0d6efd;
    cursor: text;
}

.credit-card input:focus {
    border: 1px solid #ffc107;
}