#user-img {
    width: 100%;
    height: auto;
    max-height: 50px;
    display: block;
    transition: transform 0.7s ease;
}

#user-img:hover {
    border: 1px solid #197BBD;
    transform: scaleX(8) scaleY(10) translateX(50px) translateY(10px);
}

.center-text {
    vertical-align: middle;
}

.card img {
    width: 100%;
    height: 300px;
}

.b-bottom {
    border-bottom: 2px black solid;
    border-bottom-left-radius: 5px;
}