.model-img {
    width: 100%;
    max-height: 50px;
    height: auto;
    display: block;
}

.model-img-mobile {
    width: 100%;
    height: auto;
    display: block;
}

.scale-up {
    border-radius: 1px;
    transform: scaleX(8) scaleY(10) translateX(50px);
    transition: transform 0.3s ease;
}