.model-img {
    width: 100%;
    max-height: 50px;
    height: auto;
    display: block;
    transition: transform 0.7s ease;

}

.model-img:hover {
    border: 1px solid #197BBD;
    transform: scaleX(8) scaleY(10) translateX(50px) translateY(10px);
}

.model-img-mobile {
    width: 100%;
    height: auto;
    display: block;
}